* {
	color: black;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: 'Baloo Paaji 2', Arial, sans-serif;
	background: white;
}

a {
	color: inherit;
	text-decoration: none;
}

small {
	font-size: 50%;
}

.navbar {
	border-bottom: 1.5px solid black;
	padding: 15px 50px;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

.nav-title {
	font-weight: 500;
	font-size: 30px;
	transition: color 0.3s ease-out;
}

.nav-title:hover {
	color: rgb(100, 100, 100);
}

.pages-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: row;
}

.page {
	padding: 0 5px;
	transition: color 0.3s ease-in;
}

.page.selected {
	color: rgb(100, 100, 100);
	padding-bottom: 3px;
	border-bottom: 1.5px solid rgb(100, 100, 100);
}

.page:hover {
	color: rgb(100, 100, 100);
}

.page:not(:first-child) {
	margin-left: 20px;
}

.sub-navbar {
	padding: 0 50px;
	background-color: black;
}

.status-list {
	display: flex;
	justify-content: end;
	align-items: center;
	list-style-type: none;
}

.status {
	display: flex;
	align-items: center;
	color: white;
	font-size: 15px;
}

.status:not(:first-child) {
	margin-left: 20px;
}

.dot {
	display: inline-block;
	height: 5px;
	width: 5px;
	border-radius: 50%;
	margin-left: 10px;
}

.connected {
	background-color: rgb(0, 240, 0);
}

.reconnecting {
	background-color: rgb(255, 255, 0);
}

.disconnected {
	background-color: rgb(240, 0, 0);
}

.content {
	display: flex;
	align-items: center;
}

.content-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	max-width: 1000px;
	margin: 10px auto;
}

.response {
	width: 100%;
	padding: 5px 10px;
	text-align: center;
	border: 1.5px solid rgb(0, 0, 0);
}

.response p {
	font-weight: 500;
	font-size: 20px;
}

.section-title {
	font-size: 40px;
	font-weight: 400;
}

.message-input {
	margin: 0;
	width: 250px;
	height: 20px;
	color: rgb(100, 100, 100);
	border: none;
	border-bottom: 1.5px solid rgb(100, 100, 100);
	box-sizing: content-box;
	font-size: 15px;
	transition: all 0.3s ease-in;
}

.message-input:focus {
	color: black;
	border-bottom-color: black;
}

.message-button {
	margin: 0;
	width: 100px;
	height: 25px;
	border: 1.5px solid black;
	background-color: white;
	font-size: 15px;
	transition: all 0.3s ease-in;
}

.message-button:hover {
	color: white;
	background-color: black;
}
