<nav class="navbar">
  <a href="https://discord.gg/PFTWCAB">
    <h3 class="nav-title">Igor's Lounge</h3>
  </a>
  <ul class="pages-list">
    <li id="-page" class="page">
      <a href="/">Remote</a>
    </li>
    <li id="config-page" class="page">
      <a href="/config/">Config</a>
    </li>
  </ul>
</nav>
<div class="sub-navbar">
  <ul class="status-list">
    <li class="status">
      Remote:
      <div id="remote-status" class="dot disconnected"></div>
    </li>
    <li class="status">
      Bot:
      <div id="bot-status" class="dot disconnected"></div>
    </li>
  </ul>
</div>